# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
async_generator
attrs
babel
backcall
backports
backports.functools_lru_cache
blas
bleach
brotlipy
ca-certificates
certifi
cffi
chardet
colorama
cryptography
cudatoolkit
cycler
decorator
defusedxml
deprecation
entrypoints
freetype
icu
idna
importlib-metadata
intel-openmp
ipykernel
ipython
ipython_genutils
jedi
jinja2
jpeg
json5
jsonschema
jupyter-packaging
jupyter_client
jupyter_core
jupyter_server
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
libblas
libcblas
libflac
liblapack
liblapacke
libogg
libopus
libpng
libsndfile
libsodium
libtiff
libuv
libvorbis
llvmlite
lz4-c
markupsafe
matplotlib
matplotlib-base
mistune
mkl
msys2-conda-epoch
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
ninja
notebook
numba
numpy
olefile
openssl
packaging
pandoc
pandocfilters
parso
pesq
pickleshare
pillow
pip
prometheus_client
prompt-toolkit
pycparser
pydub
pygments
pyopenssl
pyparsing
pypesq
pyqt
pyrsistent
pysocks
pysoundfile
pystoi
python-dateutil
python_abi
pytorch
pytz
pyzmq
qt
requests
scipy
send2trash
setuptools
sip
six
sniffio
sqlite
terminado
testpath
tk
tomlkit
torchaudio
torchvision
tornado
tqdm
traitlets
typing_extensions
urllib3
vc
vs2015_runtime
webencodings
wheel
xz
zeromq
zipp
zlib
zstd
